name: Frontend CI/CD

on:
  push:
    branches: [ "master" ]
    paths:
      - "studentManagement/**"
      - ".github/workflows/frontend.yml"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./studentManagement
          push: true
          tags: samh76/studentmanagement-frontend:latest

      - name: Deploy frontend on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull samh76/studentmanagement-frontend:latest
            docker stop studentmanagement-frontend || true
            docker rm studentmanagement-frontend || true
            docker run -d \
              --name studentmanagement-frontend \
              -p 3000:80 \
              samh76/studentmanagement-frontend:latest
